/*
 * Copyright (c) 2021, Copyright (c) 2020 EdgeImpulse Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&led1_pin_routing {
    status = "disabled";
};

&led2_pin_routing {
    status = "disabled";
};

&led3_pin_routing {
    status = "disabled";
};

&led4_pin_routing {
    status = "disabled";
};

&io_expander_pins_routing {
    status = "okay";
};

&external_flash_pins_routing {
    status = "okay";
};